@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
html,
body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  background: #fff;
  color: #333;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
}
#outer-wrapper {
  position: relative;
  border-top: 2px solid #FFF;
  background: url('bg-gradient-sand.png') repeat-x scroll 0% 0%, url('bg-sand.png') repeat scroll 0% 0%, none repeat scroll 0% 0% #F5F1E8;
}
#wrapper {
  width: 900px;
  display: block;
  margin: 0 auto;
  height:900px;
}

#header{
  display: block;
  width:100%;
  margin: 20px auto;
}
#header h1{
  color: #C13832;
  font-size: 84px;
  font-weight: bold;
  font-family: 'Droid Arabic Kufi', serif;
  letter-spacing: -0.05em;
  font-size: 58px;
  margin: 0 auto;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
  width: 100%;
}
